# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# IDE
.vscode/
*.code-workspace

# Application specific files
token_cache.bin
subscription_info.json

# System Files
.DS_Store
Thumbs.db